
{% extends 'main_layout.html' %}
{% load bootstrap %}
{% load static %}

{% block header %}
    <header id="areyousure">
        <div class="login-reg ">

            <h1 style="margin-bottom: 20px">Create New Password</h1>
            {% if validlink %}
{#                <p>Please enter your new password twice:</p>#}
                <form action="." method="post">
                    {{ form | bootstrap }}
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm" type="submit" style="margin-top: 10px">Create new password</button>

                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has
                    already been used. Please request a new password reset.</p>
            {% endif %}


        </div>

    </header>


{% endblock %}