{% extends 'main_layout.html' %}
{% load bootstrap %}
{% load static %}

{% block header %}
    <header id="areyousure">
        <div class="login-reg">
            {% for message in messages %}
                <div class="alert alert-danger mt-3" role="alert">
                    <p id="messages">{{ message }} <i class="fa fa-check-times" aria-hidden="true"></i></p>
                </div>
            {% endfor %}

            <div class="title-text mb-4">
                <div class="title signup text-primary">Forgotten Your password?</div>
            </div>

            <form action="." method="post">
                {{ form | bootstrap }}

                {% csrf_token %}
                <button class="btn btn-primary btn-sm" style="margin-top: 10px">Sent Reset Link</button>
            </form>


        </div>

    </header>


{% endblock %}