{% extends 'main_layout.html' %}
{% load static %}

{% block header %}

    <header id="areyousure">
        <div class="login-reg">

            <h1 class="mb-5">Resetting your password</h1>
            <p>We've emailed you a detailed instructions for setting your password.</p>
            <p class="mb-5">If you don't receive an email, please make sure you've entered the correct email
                address you registered with.</p>
            <h4 class="text-center mb-5 text-primary">HolidayZ Security</h4>
            <a href="/"><button class="btn btn-primary w-100">Homepage</button></a>

        </div>

    </header>

{% endblock %}