{% extends 'main_layout.html' %}
{% load static %}

{% block header %}

<section class="price-bg">

        <div class="container-fluid">

            <div class="container">

                <header>
                    <div class="pricing-header pb-md-4 mx-auto ">
                        <h1 class="display-3 fw-bold text-danger ">Our Membership</h1>
                        <p class="fs-5 text-danger">Be the Member of our community & Win exicting Gift Voucher</p>
                    </div>
                </header>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-center me-4" style="border-radius: 20px" id="card">
                            <div class="title">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                <h2>Basic</h2>
                            </div>
                            <div class="price">
                                <h4><sup>$</sup>25</h4>
                            </div>
                            <div class="option">
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Booking places</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Free airport pickup</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 5% discount</li>
                                    <li><i class="fa fa-times" aria-hidden="true"></i> No live support</li>
                                </ul>
                            </div>
                            <a href="/register">Register Now </a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card text-center me-4" style="border-radius: 20px" id="card">
                            <div class="title">
                                <i class="fa fa-plane" aria-hidden="true"></i>
                                <h2>Standard</h2>
                            </div>
                            <div class="price">
                                <h4><sup>$</sup>50</h4>
                            </div>
                            <div class="option">
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 20% discount</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Free pocket wifi</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Discount on train</li>
                                    <li><i class="fa fa-times" aria-hidden="true"></i> Live Support</li>
                                </ul>
                            </div>
                            <a href="/register">Register Now </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center me-4" style="border-radius: 20px" id="card">
                            <div class="title">
                                <i class="fa fa-rocket" aria-hidden="true"></i>
                                <h2>Premium</h2>
                            </div>
                            <div class="price">
                                <h4><sup>$</sup>100</h4>
                            </div>
                            <div class="option">
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Add Unlimited Users</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Change your profile</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> No Downtime</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Live Support</li>
                                </ul>
                            </div>
                            <a href="/register">Register Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock header %}