{% extends 'main_layout.html' %}
{% load widget_tweaks %}
{% load bootstrap %}
{% load static %}
{% block title %}
    Register
{% endblock title %}

{% block header %}

    <header id="account">
        <div class="login-reg">
            {% for message in messages %}
                <div class="alert alert-danger mt-3" role="alert">
                    <p id="messages">{{ message }} <i class="fa fa-check-times" aria-hidden="true"></i></p>
                </div>
            {% endfor %}
{#            <div class="title login justify-content-center">#}
{#                <img src="{% static 'images/add_user.png' %}" alt="logo" class="logo w-50">#}
{#            </div>#}

            <div class="title-text mb-4">
                <div class="title signup text-primary">Create an Account</div>
            </div>

            <table class="table">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Signup" class="btn btn-primary w-100">
                        </td>
                    </tr>

                </form>
            </table>

        </div>

    </header>

{% endblock %}