<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# All CDN Links#}
    <script src="https://kit.fontawesome.com/9baea8d552.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>

<div class="navbar d-flex justify-content-around p-2 fixed-top" id="nav-baar">
    <a href="/" class="d-block p-1 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip"
       data-bs-placement="right">
        <!-- <img src="/untitled_1_1_29.png" alt=""> -->
        <h1>Admin Area</h1>
    </a>

    <ul class="nav nav-pills nav-flush">
        <li class="nav-item rounded">
            <a href="#" class="nav-link active py-3 border-bottom rounded-3" aria-current="page" title="Home"
               data-bs-toggle="tooltip" data-bs-placement="bottom">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="ms-4">
            <a href="#" class="nav-link py-3 border-bottom" title="Booked Place" data-bs-toggle="tooltip" data-bs-placement="bottom">
            <i class="fa fa-ticket fa-2x" aria-hidden="true"></i>

            </a>
        </li>
        <li class="ms-4">
            <a href="#" class="nav-link py-3 border-bottom" title="Add destination" data-bs-toggle="tooltip"
               data-bs-placement="bottom">
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="ms-4">
            <a href="addcountry" class="nav-link py-3 border-bottom" title="Add Country" data-bs-toggle="tooltip"
               data-bs-placement="bottom">
                <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="ms-4">
            <a href="#" class="nav-link py-3 border-bottom" title="Travellers" data-bs-toggle="tooltip"
               data-bs-placement="bottom">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <div class="dropdown d-flex">
        <input class="form-control me-2 srch-bar" type="search" placeholder="Search" aria-label="Search">
        <a href="#"
           class="d-flex align-items-center justify-content-center p-2 link-dark text-decoration-none dropdown-toggle"
           id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
            <li><a class="dropdown-item" href="#">My Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>

</div>

{% block main %}{% endblock main %}


{#<link rel="stylesheet" href="{% static 'js/main.js' %}">#}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}

</body>
</html>