{% extends 'admin_layout.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock title %}


{% block main %}
    <div id="wrapper">

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Admin Dashboard</h3>
                    </div>
                    <div class="row">

                        <div class="col-md-6 col-xl-3 mb-4">
                            <a href="/admins/bookingdata">
                                <div class="card shadow border-0 py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Total Booking</span>
                                                </div>
                                                <div class="text-secondary fw-bold display-6 h5 mb-0">
                                                    <span> Booked: {{ booking }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-ticket-alt fa-3x text-primary"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-3 mb-4">
                            <a href="/admins/addcountry">
                                <div class="card shadow border-0 py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Total Country</span>
                                                </div>
                                                <div class="text-secondary fw-bold display-6 h5 mb-0">
                                                    <span> Active: {{ country }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-globe fa-3x text-success"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a href="/admins/showplace">
                                <div class="card shadow border-0 py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Total Destination</span>
                                                </div>
                                                <div class="text-secondary fw-bold display-6 h5 mb-0">
                                                    <span> Places: {{ place }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-map-marker fa-3x text-warning"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a href="/admins/issuedid">
                                <div class="card  shadow border-0 py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-danger fw-bold text-xs mb-1"><span>ID Card Issued</span>
                                                </div>
                                                <div class="text-secondary fw-bold display-6 h5 mb-0">
                                                    <span> Total: {{ card }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-id-card fa-3x text-danger"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <div class="card mb-4 shadow border-0">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary text-center fw-bold m-0">User Overview</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-header d-flex justify-content-between align-items-center">
                                                    <h6 class="text-primary fw-bold m-0">Admin</h6>
                                                </div>
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Username</th>
                                                        <th scope="col">Joined</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for iadmin in admin_info %}
                                                        <tr>
                                                            <th scope="row">{{ iadmin.id }}</th>
                                                            <td>@{{ iadmin.username }}</td>
                                                            <td>{{ iadmin.date_joined }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card ">
                                                <div class="card-header d-flex justify-content-between align-items-center">
                                                    <h6 class="text-primary fw-bold m-0">Travellers</h6>
                                                </div>
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Username</th>
                                                        <th scope="col">Joined</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for iuser in user_info %}
                                                        <tr>
                                                            <th scope="row">{{ iuser.id }}</th>
                                                            <td>@{{ iuser.username }}</td>
                                                            <td>{{ iuser.date_joined }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4">
                            <div class="card mb-4 shadow border-0">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Total User overview</h6>
                                </div>
                                <div class="card-body">
                                    <div class="card  py-2" style="margin-bottom: 20px">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Total Admins</span>
                                                    </div>
                                                    <div class="text-secondary fw-bold display-6 h5 mb-0">
                                                        <span> Active: {{ admin }}</span></div>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-user-md fa-3x text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card py-2">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <div class="text-uppercase text-danger fw-bold text-xs mb-1"><span>Total Travellers</span>
                                                    </div>
                                                    <div class="text-secondary fw-bold display-6 h5 mb-0">
                                                        <span> Total: {{ user }}</span></div>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-users fa-3x text-danger"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center small mt-4"><span class="me-2"><i
                                            class="fas fa-circle text-primary"></i>&nbsp;Admins</span><span
                                            class="me-2"><i
                                            class="fas fa-circle text-danger"></i>&nbsp;Travellers</span><span
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 mb-3 w-100">
                            <div class="card textwhite bg-success text-white shadow">
                                <div class="card-body">
                                    <p class="m-0"> “Be who you are and say what you feel, because those who mind don’t
                                        matter and those who matter don’t mind.”</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 w-100">
                            <div class="card textwhite bg-danger text-white shadow">
                                <div class="card-body">
                                    <p class="m-0">“Wisbe men speak because they have something to say; fools because
                                        they have to say something.”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="row">#}
                    {#                        <div class="col-lg-6 mb-4">#}
                    {#                            <div class="card mb-4">#}
                    {#                                <div class="card-header py-3">#}
                    {#                                    <h6 class="text-primary fw-bold m-0">Todo List</h6>#}
                    {#                                </div>#}
                    {#                                <ul class="list-group list-group-flush">#}
                    {#                                    <li class="list-group-item">#}
                    {#                                        <div class="row align-items-center no-gutters">#}
                    {#                                            <div class="col me-2">#}
                    {#                                                <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span#}
                    {#                                                    class="text-xs">10:30 AM</span></div>#}
                    {#                                            <div class="col-auto">#}
                    {#                                                <div class="form-check"><input class="form-check-input" type="checkbox"#}
                    {#                                                                               id="formCheck-1"><label#}
                    {#                                                        class="form-check-label" for="formCheck-1"></label></div>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                    </li>#}
                    {#                                    <li class="list-group-item">#}
                    {#                                        <div class="row align-items-center no-gutters">#}
                    {#                                            <div class="col me-2">#}
                    {#                                                <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span#}
                    {#                                                    class="text-xs">11:30 AM</span></div>#}
                    {#                                            <div class="col-auto">#}
                    {#                                                <div class="form-check"><input class="form-check-input" type="checkbox"#}
                    {#                                                                               id="formCheck-2"><label#}
                    {#                                                        class="form-check-label" for="formCheck-2"></label></div>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                    </li>#}
                    {#                                    <li class="list-group-item">#}
                    {#                                        <div class="row align-items-center no-gutters">#}
                    {#                                            <div class="col me-2">#}
                    {#                                                <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span#}
                    {#                                                    class="text-xs">12:30 AM</span></div>#}
                    {#                                            <div class="col-auto">#}
                    {#                                                <div class="form-check"><input class="form-check-input" type="checkbox"#}
                    {#                                                                               id="formCheck-3"><label#}
                    {#                                                        class="form-check-label" for="formCheck-3"></label></div>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                    </li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {##}
                    {#                    </div>#}
                </div>
                <div class="accordion accordion-flush shadow" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                               Helping Admin to navigvate #1
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                                body.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                Helping Admin to navigate #2
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                                body. Let's imagine this being filled with some actual content.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                              Helping Admin to navigate #3
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up the
                                space to make it look, at least at first glance, a bit more representative of how this
                                would look in a real-world application.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock main %}